<script>
	import { decodeEntities } from '../utils/he';

	// @import-ing these in style tag causes :global error...
	// @import-ing them from global.css causes clean-css to choke.
	import 'sanitize.css';
	import 'sanitize.css/reduce-motion.css';
	import 'sanitize.css/assets.css';
	import 'sanitize.css/forms.css';

	import Main from '../components/Main.svelte';
	import SiteFooter from '../components/SiteFooter.svelte';
	import SiteHeader from '../components/SiteHeader.svelte';

	export let data;
	export let request;
	export let settings;
	export let templateHtml;

	const { doc_title, menus, wp_info } = data;
	const { origin } = settings;
	const { description, name } = wp_info;
	const current_url = origin + request.permalink;
	const header_menu = menus.find( m => m.location === 'header' );
	const footer_menu = menus.find( m => m.location === 'footer' );
</script>

<svelte:head>
	<title>{decodeEntities( doc_title )}</title>
	<link rel="canonical" href={current_url} />
	<link rel="dns-prefetch" href={origin} />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<meta name="generator" content="WordPress, Svelte, Elder.js" />
</svelte:head>

<div>
	<a class="screen-reader-text" href="#site-content">Skip to content</a>
	<a class="screen-reader-text" href="#main-menu">Skip to menu</a>

	<SiteHeader {current_url} {origin} menu={header_menu} title={name} tagline={description} />
	<Main {templateHtml} />
	<SiteFooter {origin} menu={footer_menu} title={name} />
</div>

<style global>
	@import '../styles/global.css';
</style>
