<script>
	import Articles from './Articles.svelte';
	import ArchivePagination from './ArchivePagination.svelte';

	export let data;
	export let description = '';
	export let request;
	export let title = '';

	const { next_page, prev_page } = request;
</script>

{#if title}
	<h1>{@html title}</h1>
{/if}

{#if description}
	<p>{@html description}</p>
{/if}

<Articles articles={data.articles} />

{#if next_page || prev_page}
	<ArchivePagination {next_page} {prev_page} />
{/if}

<style>
	h1 {
		text-align: center;
		margin-block-start: var( --spacing-outer );
	}

	p {
		font-size: var( --font-size-small );
		text-align: center;
		margin-inline-start: var( --spacing-outer );
		margin-inline-end: var( --spacing-outer );
	}
</style>
