<script>
	export let next_page;
	export let prev_page;
</script>

<nav>
	{#if prev_page}
		<a class="link-no-decor" href={prev_page}>← Newer posts</a>
	{/if}
	{#if prev_page && next_page}
		<span>&nbsp;</span>
	{/if}
	{#if next_page}
		<a class="link-no-decor" href={next_page}>Older posts →</a>
	{/if}
</nav>

<style>
	nav {
		font-family: var( --font-sans-serif );
		font-size: var( --font-size-small );
		text-align: center;
		margin-block-end: calc( var( --spacing-outer ) * 2 );
	}

	span::before {
		content: '\00a0\007c';
		margin-right: 0.625em;
		margin-left: 0.625em;
		color: var( --foreground-color );
	}
</style>
