<script>
	import ArticleMeta from './ArticleMeta.svelte';

	export let article;
	export let is_single = false;

	const { content, dzwp_link, title, type } = article;
</script>

<article>
	{#if is_single}
		<h1>{@html title.rendered}</h1>
	{:else}
		<h2><a class="link-no-decor" href={dzwp_link}>{@html title.rendered}</a></h2>
	{/if}
	<div>
		{@html content.rendered}
	</div>
	{#if type === 'post'}
		<ArticleMeta {article} />
	{/if}
</article>

<style>
	article {
		margin-block-start: calc( var( --spacing-outer ) * 2 );
		margin-block-end: calc( var( --spacing-outer ) * 2 );
	}

	h1,
	h2 {
		text-align: center;
	}
</style>
