<script>
	export let article;

	const { categories, date_gmt, dzwp_date_gmt_display, tags } = article;
</script>

<p>
	<span>Posted on <time datetime={date_gmt}>{dzwp_date_gmt_display}</time></span>
	{#if categories && categories.length}
		<span>
			in
			{#each categories as category, index (category.id)}
				<a href={category.dzwp_link}>{@html category.name}</a>{index + 1 === categories.length ? '.' : ', '}
			{/each}
		</span>
	{/if}
</p>

{#if tags && tags.length}
	<ul aria-label="Tags" class="list-inline">
		{#each tags as tag (tag.id)}
			<li><a href={tag.dzwp_link}>#{@html tag.name}</a></li>
		{/each}
	</ul>
{/if}

<style>
	p,
	ul {
		font-family: var( --font-sans-serif );
		font-size: var( --font-size-small );
		text-align: center;
	}

	li {
		font-style: italic;
		margin-inline-end: 0;
	}
</style>
