<script>
	export let templateHtml;
</script>

<main id="site-content">
	{@html templateHtml}
</main>

<style lang="postcss">
	main {
		margin-inline-start: var( --spacing-outer );
		margin-inline-end: var( --spacing-outer );
		max-width: 38.75rem;

		@media ( min-width: 38.75rem ) {
			margin-inline-start: auto;
			margin-inline-end: auto;
		}
	}
</style>
