<script>
	export let menu;
	export let current_url = '';

	const { items, name, slug } = menu;
</script>

<nav aria-label={name} id="{slug}-menu" {...$$restProps}>
	<ul class="list-inline">
		{#each items as item}
			<li class:current={current_url === item.url}>
				<a class="link-no-decor" href={item.url}>{@html item.title}</a>
			</li>
		{/each}
	</ul>
</nav>

<style>
	li {
		padding-inline-start: 0.25rem;
		padding-inline-end: 0.25rem;
	}

	.current a {
		color: var( --link-color );
	}
</style>
